<h1 class="text-warning text-center">Tienda online</h1>
<form class="row mt-4 d-flex align-items-center">
    <h3 class="text-info text-center">Listado de productos:</h3>
    <div class="col-5 mt-4">
        <input type="text" name="newProduct" placeholder="Nuevo producto" #product class="form-control w-100 mb-4">
        <input type="number" name="price" placeholder="Precio" #price class="form-control w-100">
        <button type="button" class="btn btn-primary mt-3 w-100"
            (click)="addProduct(product.value, price.value); product.value = ''; price.value = ''"> Agregar </button>
        @if(!isValidProduct) {
        <p class="text-danger text-center mt-4"> Error al agregar los datos </p>
        }
    </div>
    <div class="col-6">
        <ul class="list-group w-100 mx-auto">
            @for(tarea of productsList; track tarea.id){
            <li class="list-group-item text-center"> {{ tarea.product }} - {{ tarea.amount }} </li>
            }
        </ul>
    </div>
</form>