<!-- <h1> {{ (postUser$ | async)?.title }} </h1>

<h2> subject message {{ subjectMessage$ | async}} </h2>

<input type="text" name="message" [(ngModel)]="subject">

<button (click)="submit()"> Click!! </button>

<app-sub-component></app-sub-component>

<div *ngIf="!showComponent">
    <app-child [message]="'Hola'" (messageOutput)="listenMessage($event)"></app-child>
</div>

<app-hijo></app-hijo> -->

<div class="container-fluid">
    <!-- <app-if-directive /> -->
    <!-- <app-local-reference/> -->
    <!-- <app-for-directive/> -->
     <app-store />
</div>